* {
  width: auto;
}
body {
  background-color: rgb(0, 0, 0);
  margin: 0 auto;
  font-family: "Orbitron", "Courier New", Courier, monospace;
  justify-content: center;
  align-items: center;
}
div {
  display: flex;
}
#buttons {
  background-image: url("./img/galaxy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2%;
  border-radius: 8px;
  background-color: rgb(32, 30, 30);
  border: 1px solid rgb(29, 11, 68);
  display: flex;
  justify-content: space-between;
  padding: 2%;
}
button {
  letter-spacing: 0.15em;
  padding: 2%;
  color: rgb(207, 253, 132);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    326deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(106, 9, 121, 1) 47%,
    rgba(0, 212, 255, 1) 100%
  );
  border: none;
  margin: 8px;
  border-radius: 8px;
  font-weight: 700;
  font-family: "Orbitron", "Courier New", Courier, monospace;
  width: 12%;
  min-width: fit-content;
}

button:hover {
  scale: 1.2;
  transition: 0.2s;
  box-shadow: 0 0 5px 5px #353247, 0 0 2px 2px #353247;
  background-color: rgb(118, 118, 151);
}
button:active {
  scale: 1.1;
  transition: 0.03s;
  background: rgb(255, 248, 6);
  background: linear-gradient(
    326deg,
    rgba(255, 248, 6, 1) 0%,
    rgba(106, 9, 121, 1) 51%,
    rgb(255, 169, 30) 89%
  );
  box-shadow: none;
}
button:focus {
  background: rgb(255, 248, 6);
  background: linear-gradient(
    326deg,
    rgba(255, 248, 6, 1) 0%,
    rgba(106, 9, 121, 1) 51%,
    rgb(255, 169, 30) 89%
  );
  box-shadow: none;
}

.nextButton:disabled {
  background: rgb(255, 248, 6);
  background: linear-gradient(
    326deg,
    rgb(141, 146, 2) 0%,
    rgb(74, 70, 74) 51%,
    rgb(24, 23, 21) 89%
  );
  box-shadow: none;
}
.nextButton:disabled:hover {
  scale: 1;
}

.prevButton:disabled {
  background: rgb(255, 248, 6);
  background: linear-gradient(
    326deg,
    rgb(141, 146, 2) 0%,
    rgb(74, 70, 74) 51%,
    rgb(24, 23, 21) 89%
  );
  box-shadow: none;
}
.prevButton:disabled:hover {
  scale: 1;
}
.validation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.validation > select {
  padding: 2%;
  color: rgb(207, 253, 132);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    326deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(106, 9, 121, 1) 47%,
    rgba(0, 212, 255, 1) 100%
  );
  border: none;
  margin: 10px;
  border-radius: 8px;
  font-weight: 300;
  font-family: "Orbitron", "Courier New", Courier, monospace;

  min-width: fit-content;
  min-height: fit-content;
}
.validation > div {
  padding: 2%;
  width: 60%;
  color: rgb(207, 253, 132);
  font-weight: 300;
  font-family: "Orbitron", "Courier New", Courier, monospace;
  min-width: fit-content;
  justify-content: space-between;
  align-items: center;
}

.validation > div > select {
  letter-spacing: 0.15em;
  padding: 2%;
  color: rgb(207, 253, 132);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    326deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(106, 9, 121, 1) 47%,
    rgba(0, 212, 255, 1) 100%
  );
  border: none;
  margin: 8px;
  border-radius: 8px;
  font-weight: 300;
  font-family: "Orbitron", "Courier New", Courier, monospace;
  min-width: fit-content;
}
.validation > div > select:hover {
  color: rgb(207, 253, 132);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    326deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(106, 9, 121, 1) 47%,
    rgba(0, 212, 255, 1) 100%
  );
}

select option {
  color: rgb(207, 253, 132);
  background-color: rgb(2, 0, 36);
}
.tableContainer {
  display: flex;
  align-content: center;
  justify-content: center;
}
.modal,
.detailsModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalContent {
  border: 3px dotted rgb(118, 118, 151);
  display: flex;
  width: 80%;
  /* position: sticky; */
  align-content: center;
  justify-items: center;
  justify-content: space-around;
  background: #1b0430;
}

.modalContent > h2 {
  display: flex;
  align-items: center;
  margin: 2%;
}
.areYouSure {
  color: rgb(118, 118, 151);
}
.modal button {
  margin: 10%;
}

.detailsContent {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-wrap: break-word;
  overflow: scroll;
  background-color: #1b0430;
}
.detailsList {
  width: 40%;
  color: aliceblue;
  border-right: 3px dotted rgb(118, 118, 151);
}

.detailsContainer {
  border: 3px dotted rgb(118, 118, 151);
  display: flex;
  width: 80%;

  /*position: sticky;*/

  background-color: #1b0430;
  color: aquamarine;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #2c084c;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: aqua;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;
  height: fit-content;
}
#chartPagination {
  display: flex;
  justify-content: center;
}
#chartPagination > button {
  padding: 10px;
  margin: 30px;
}

table > th,
tr,
td {
  border: 1px solid #230042;
  border-radius: 4px;
  color: aliceblue;
  font-weight: 100;
  padding: 8px;
}
tr:hover {
  background-color: #8456ac58;
}
tbody:nth-child(even) {
  background-color: #2c084c;
}

#darthVaderContainer {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.inactive {
  visibility: hidden;
  width: 1px;
}
.active {
  visibility: visible;
  z-index: 9999;
  height: 80px;
  width: 80px;
  animation: fly 4s linear infinite;
  pointer-events: stroke;
  position: relative;
}
.activeG {
  visibility: visible;
  z-index: 9999;
  height: 80px;
  width: 80px;
  animation: fly2 4s ease-in-out infinite;
  pointer-events: stroke;
  position: relative;
}

.playPitch {
  position: absolute;
  top: 0;
  left: 0;
  width: 98%;
  height: 95%;
  background-image: url("./img/galaxy.jpg");
  z-index: 9998;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid #7f6a91;
  display: flex;
  color: red;
  font-size: 40px;
}
#closeGame {
  position: relative;
  top: -43%;
  left: 50%;
  width: min-content;
  height: min-content;
  background: linear-gradient(
    326deg,
    rgba(2, 0, 36, 0.434) 0%,
    rgba(190, 63, 28, 0.231) 47%,
    rgba(11, 1, 30, 0.493) 100%
  );
}

@keyframes fly {
  0% {
    transform: translate(275px, -20vw) rotate(3turn);
    opacity: 1;
  }
  /* 25% {
    transform: translate(50, 50vh) rotate(45deg);
    opacity: 1;
  } */
  50% {
    transform: translate(-50vw, 0) scale(-0.5, 2);
    opacity: 1;
  }
  75% {
    transform: translate(20vh, 20vh);
    opacity: 1;
  }
  100% {
    transform: translate(275px, -20vw) rotate(3turn);
    opacity: 1;
  }
}

@keyframes fly2 {
  0% {
    transform: translate(-50vw, 0) scale(1.5);
    opacity: 1;
  }
  25% {
    transform: translate(25px, -20vw) rotate(3turn);
    opacity: 1;
  }
  /* 50% {
    transform: translate(275px, -20vw) rotate(3turn);
    opacity: 1;
  } */
  75% {
    transform: translate(20vh, 20vh);
    opacity: 1;
  }
  100% {
    transform: translate(-50vw, 50vh) rotate(45deg);
    opacity: 1;
  }
}
